@model AlunoModel

<form class="form-horizontal" asp-controller="Aluno" asp-action="Inserir" method="post">
    <fieldset>
        <div class="panel panel-primary">
            <div class="panel-heading">Cadastro de Alunos</div>
            <div class="panel-body">

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-1 control-label" for="Nome">Nome</label>
                    <div class="col-md-8">
                        <input id="Nome" placeholder="Digite seu nome" class="form-control input-md" required="" type="text" asp-for="Nome">
                    </div>
                </div>

                <!-- Text input-->
                <label class="col-md-1 control-label" for="Idade">Idade</label>
                <div class="col-md-2">
                    <input id="idade" placeholder="Digite sua idade" class="form-control input-md" required="" type="text" asp-for="Idade" maxlength="10" onBlur="showhide()">
                </div>

                <!-- Text input-->
                <label class="col-md-1 control-label" for="telefone">Telefone</label>
                <div class="col-md-2">
                    <input id="contato" placeholder="Digite seu telefone" class="form-control input-md" required="" type="text" asp-for="Contato" maxlength="10" onBlur="showhide()">
                </div>

                <!-- Prepended text-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="prependedtext">Email</label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <input id="prependedtext" class="form-control" placeholder="email@email.com" required="" type="text" asp-for="Email">
                        </div>
                    </div>
                </div>

                <label class="col-md-1 control-label" for="Idade">Cep</label>
                <div class="col-md-2">
                    <input id="cep" placeholder="Digite seu cep" class="form-control input-md" required="" type="text" asp-for="Cep" maxlength="10" onBlur="showhide()">
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="Cadastrar"></label>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                        <a type="button" class="btn btn-danger" asp-controller="Aluno" asp-action="Index">Cancelar</a>
                    </div>
                </div>

            </div>
        </div>
    </fieldset>
</form>