@if (ViewData["Mensagem"] != null)
{
    <div class="alert-danger">
        @ViewData["Mensagem"]
    </div>
}

@model EnderecoModel
<form>
    <div class="mb-3">
        <label for="name" class="form-label">Logradouro</label> <input type="text" class="form-control col-md-6" asp-for="logradouro">
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Complemento</label> <input type="text" class="form-control col-md-4" asp-for="complemento">
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Bairro</label> <input type="text" class="form-control col-md-6" asp-for="bairro" />
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Localidade</label> <input type="text" class="form-control col-md-6" asp-for="localidade" />
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Uf</label>
        <input type="text" class="form-control col-md-1" asp-for="uf">
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">DDD</label>
        <input type="text" class="form-control col-md-1" asp-for="ddd">
    </div>
    <a type="button" class="btn btn-primary" asp-controller="Aluno" asp-action="Index">Voltar</a>
</form>
