<div>
    <h1>
        Dados da professora
    </h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Contato</th>
                <th scope="col">E-mail</th>
                <th scope="col">Cep</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Katia Schimitt Pollheim</td>
                <td>28 anos</td>
                <td>(47) 9911774897</td>
                <td>katiaschimittp@gmail.com</td>
                <td>88350-665</td>
                <td>
                    <button type="button" class="btn btn-primary">Endereço</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>